$font-primary: "IBM Plex Sans", sans-serif;

$bg-color: hsl(0, 100%, 100%);
$menu-text: hsla(215, 19%, 59%, 1);
$text-black1: hsla(220, 10%, 12%, 1);
$gray-e9: hsla(213, 33%, 94%, 1);
$natural2: hsla(208, 26%, 95%, 1);
$grey2: hsla(235, 7%, 67%, 1);
$primary-color: hsla(248, 57%, 60%, 1);
$neutral01: hsla(0, 0%, 99%, 1);
$black1: hsla(220, 10%, 12%, 1);
$grey1: hsla(216, 3%, 38%, 1);
$natural1: hsla(0, 0%, 97%, 1);
$gradient: linear-gradient(92deg, #415ef4 0.33%, #7141ef 28.14%);
$natural: hsla(218, 4%, 42%, 1);
$primary-black: hsla(240, 19%, 17%, 1);
$bg3: hsla(225, 10%, 24%, 1);
