.trending 
    h2.heading.trending-heading Trending
    .trending-banner 
        .trending-content 
            h3.trending-title 
                span UX Design 
                | Process: Mental Modeling Framework.
            p.trending-podcast Podcast Episode - 1
            p.trending-author 
                | Thomas L. Fletcher
                span.treding-author-position &nbsp;( Product Designer at UIHUT )
            button.button.button--primary
                img(alt="icon play now" src="./images/icons/icon-play-now.svg")
                span Play now
        .trending-vector 
            img(src="./images/trending/Vector.png", alt="vector trending")
        .trending-frame 
            img(src="./images/trending/Frame.png", alt="frame trending")
        .trending-image
            img(src="./images/trending/author-img.png", alt="author trending image")
