@use "../utils";

.toggle {
  &-main {
    @include utils.size(30px, 17px);
    border-radius: 100rem;
    @include utils.bg(utils.$grey2);
    padding: 2px 2px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  input {
    display: none;
    &:checked + .toggle-main .toggle-spinner {
      transform: translateX(12px);
    }
    &:checked + .toggle-main {
      background-image: utils.$gradient;
    }
  }
  &-spinner {
    border-radius: 100rem;
    background-color: white;
    width: 14px;
    aspect-ratio: 1;
    transition: all 0.2s linear;
  }
}
